{% extends 'diary/child.html' %}

{% block child_content %}

<body>
  <section class="section">
    <div class="container">
      <form method="POST">
        {% csrf_token %}
        <div class="field">
          <p class="control">
            <input class="input" type="text" name="title" placeholder="{{ form.title.label }}">
          </p>
        </div>

        <div class="field">
          <p class="control">
            <textarea class="textarea" type="text" name="content" rows=15
              placeholder="{{ form.content.label }}"></textarea>
          </p>
        </div>

        <div class="tags">
          </p>
            {% for tag in form.tags.all %}
              <label class="label">{{ tag.label_tag }}</label>
              <span class="tag is-info">{{ tag }} </span>
            {% endfor %}
        </div>

        <div class="buttons"><button class="button is-info" type="submit">Save</button></div>
      </form>
      {% if entry %}
        <a href="{% url 'diary:entry_detail' entry.id %}">
            <button>Cancel</button>
        </a>
        <a href="{% url 'diary:entry_delete' entry.id %}">
            <button>Delete</button>
        </a>
      {% else %}
        <a href="{% url 'diary:entry_list' %}">
            <button>Back</button>
        </a>
      {% endif %}
    </div>
  </section>
</body>

{% endblock %}