{% extends 'diary/child.html' %}

{% block child_content %}

<body>
  <section class="section entry-detail-container">
    <div class="container">
      <form method="post">
        {% csrf_token %}
        <div class="field">
          <p class="control">
            <input id="title" class="input" type="text" name="title" placeholder="{{ form.title.label }}"
              value="{{ entry.title }}">
          </p>
        </div>

        <div class="field">
          <p class="control">
            <textarea id="content" class="textarea" type="text" name="content" rows=15
              placeholder="{{ form.content.label }}"> {{ entry.content }} </textarea>
          </p>
        </div>

        <div class="tags">
          <input id="tags" type="text" name="tags" placeholder="{{ form.tags.label }}"
            value="{{ entry.tags.all | join:', ' }}">
        </div>

        <div class="buttons"><button class="button is-info" type="submit">Save</button></div>
      </form>
      {% if form.errors %}
      <ol>
        {% for error in form.errors %}
        <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
      </ol>
      {% endif %}
      {% if entry %}
      <div class="buttons">
        <a href="{% url 'diary:entry_detail' entry.id %}">
          <button class="button is-info" >Cancel</button>
        </a>
        <a href="{% url 'diary:entry_delete' entry.id %}">
          <button class="button is-info" >Delete</button>
        </a>
        {% else %}
        <a href="{% url 'diary:entry_list' %}">
          <button class="button is-info" >Back</button>
        </a>
      </div>
      {% endif %}
    </div>
  </section>
</body>

{% endblock %}