<!DOCTYPE html>

<head>
    {% extends 'base.html' %}
    {% block title %}{% include "head.html" with title='profile' %}{% endblock %}
</head>

{% block content %}
Hello {% firstof request.user.username request.user.email 'there!'%}

<body>
    <section class="section entry-detail-container">
        <div class="container">
            <h2>Update your profile</h2>
            <form method="post">
                {% csrf_token %}
                <div class="field">
                    <p class="control">
                        <label id="email" class="input" type="text" name="email" placeholder="{{ user.email }}"
                            value="{{ user.email }}">
                    </p>
                </div>

                <button type="submit">Submit</button>
            </form>
        </div>
    </section>
</body>
{% endblock %}
<!-- has_usable_password() -->

<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        {% include 'password_change.html' %}
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>