<!DOCTYPE html>

<head>
  {% extends "base.html" %}
  {% block title %}{% include "head.html" with title='login' %}{% endblock %}
</head>

{% block content %}

<body>
  <section class="section">
    <div>
      <div class="login-container">
        <div class="login-card">
          <div style="text-align: center;">
            <h2 class="">Log In</h2>
            <form method="post">
              {% csrf_token %}
              <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input id="username" class="input" type="text" name="username" placeholder="username">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control has-icons-left">
                  <input id="password" class="input" type="password" name="password" placeholder="Password">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
              <div class="buttons"><input  class="is-button is-primary" type="submit" value="Log In"></div>
            </form>
          </div>
        </div>
        {% if form.errors %}
        <div class="alert alert-danger">
          {{ form.errors }}
        </div>
        {% endif %}
        <div class="column is-left" style="width: 60px;">
          <div class="is-divider-vertical" data-content="OR"></div>
        </div>

        <div class="login-card">
          <form action="{% url 'user:msal_login' %}" method="post">
            {% csrf_token %}
            <div class="buttons"><button class="is-button is-primary" type="submit">MSFT</button></div>
          </form>
        </div>
      </div>
    </div>
  </section>
</body>
{% endblock %}